---
import Layout from "../layouts/BlogPost.astro";
const idadeLucas = new Date().getFullYear() - 2010;
const idadeGemeos = new Date().getFullYear() - 2013;
const tempoExperiencia = new Date().getFullYear() - 2020;
---

<Layout
  title="Sobre mim"
  description="Desenvolvedor de softwares - Alexander Roberto dos Santos"
  pubDate={new Date("December 09 2023")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    <a href="https://lattes.cnpq.br/7543191272741278">Meu currículo Lates</a>
  </p>

  <p>
    Pessoa <b>negra</b> do sexo <b>masculino</b>, <br />Casado com a Rosangela <br
    /> sou pai de 3 meninos Lucas de {idadeLucas} anos, Gabriel e Daniel gêmos
    de {idadeGemeos} anos. <br />Servo de Deus e músico (Clarinete) na
    Congregação Cristã no Brasil. <br /> Minha formação é analise e
    desenvolvimento de sistemas, pós graduado em especialização em
    desenvolvimento web. <br />
  </p>
  <p>
    Tenho atuado no mercado de trabalho há {tempoExperiencia} anos, com
    desenvolvimento FullStack com foco em <b>Javascript (node)</b> e <b>C#</b>.
  </p>
  <p>
    Experiências em integração de softwares API x API conectando canais de
    vendas à um hub integrador.
  </p>

  <h3>Linguagens de programação</h3>

  <ol>
    <li>Javascript (node) / Pleno</li>
    <li>C# / Estudante</li>
    <li>Python / Estudante</li>
    <li>Dart / Estudante</li>
    <li>Java / Estudante</li>
    <li>Go / Estudante</li>
  </ol>

  <h3>Tenologias</h3>
  <ol>
    <li>Docker</li>
    <li>Git</li>
    <li>MongoDB</li>
    <li>Mongoose</li>
    <li>MySQL</li>
    <li>Prisma</li>
    <li>Redis</li>
    <li>RabbitMQ</li>
    <li>SQLite</li>
  </ol>

  <h3>Frameworks / Libs</h3>
  <ol>
    <li>ExpressJS / Pleno</li>
    <li>Flutter / Estudante</li>
    <li>Flask / Estudante</li>
    <li>Native / Estudante</li>
    <li>React / Estudante</li>
    <li>Vue / Estudante</li>
  </ol>
</Layout>
